[package]
name = "cosmic-wanderer-opener"
version = "0.1.0"
edition = "2024"

[dependencies]

[profile.release]
lto = "fat"
opt-level = 3
strip = true 
debug = 0
debug-assertions = false
codegen-units = 1
